.toast {
  position: fixed;
  top: 1em;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0.5em 1em;
  border-radius: 6px;
  max-width: 60em;
  margin: 0 auto;

  color: #fff;
}

.error {
  color: var(--on-error);
  background-color: var(--error);
}

.success {
  color: var(--inverse-on-surface);
    background-color: var(--inverse-surface);}